body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
}

#container span {
    font-weight: bold;
    font-style: italic;
}

#container{
    background-color: red;
    padding: 10px;
    align-items: center;
}

#container div{
    width: 400px;
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
    height: 160px;
    overflow: scroll;
    box-sizing: border-box;
}